.App {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(27, 27, 68);
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  background-color: rgb(27, 27, 68);
}

body {
  background-color: rgb(27, 27, 68);
  margin: 0;
}

.page-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-time {
  font-size: 24px;
  margin: 0px;
  margin-top: 10px;
  color: #7fb7be;
}

.react-countdown-clock {
  margin-right: 200px;
  margin-top: 42px;
}

.selection {
  color: #ff9f1c;
  margin: 6px;
  font-size: 24px;
}

.be-back {
  color: #2ec4b6;
  border-radius: 15px;
  font-weight: 600;
  font-size: 24px;
  margin: 10px;
}

.break-over {
  color: red;
  font-weight: 600;
  font-size: 24px;
  margin: 10px;
}

.button-container {
  display: flex;
}

button {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

button:hover {
  filter: brightness(50%);
}

button:active {
  filter: brightness(50%);
}

.button-container > .right-buttons > button,
.button-container > .left-buttons > button {
  outline: none;
  background-color: #ff9f1c;
  border: none;
  border-radius: 30px;
  margin: 10px;
  color: white;
  font-size: 1.2em;
  padding: 5px 15px;
  height: 50px;
  width: 130px;
}

.right-buttons {
  display: flex;
  flex-direction: column;
}

.left-buttons {
  display: flex;
  flex-direction: column;
}

select {
  background-color: #5f4441;
  border: none;
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  outline: none;
  margin: 10px;
  margin-bottom: 0px;
}

.stop {
  background-color: rgb(27, 27, 68);
  border: 2px solid red;
  color: white;
  font-size: 2em;
  border-radius: 30px;
  outline: none;
  animation: stop-glow 1s infinite;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes stop-glow {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  50% {
    color: rgba(255, 255, 255, 0.5);
  }
  100% {
    color: white;
  }
}

.hidden {
  display: none;
}

.control-panel {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.controls {
  display: flex;
  flex-direction: column;
}

.pause {
  outline: none;
  background-color: gray;
  border: none;
  border-radius: 30px;
  margin: 10px;
  color: white;
  font-size: 1.2em;
  padding: 5px 15px;
  height: 120px;
  width: 50px;
}

.resume {
  outline: none;
  background-color: #7fb7be;
  border: none;
  border-radius: 30px;
  margin: 10px;
  color: white;
  font-size: 1.2em;
  padding: 5px 15px;
  height: 50px;
}

.reset {
  outline: none;
  background-color: #bc2c1a;
  border: none;
  border-radius: 30px;
  margin: 10px;
  color: white;
  font-size: 1.2em;
  padding: 5px 15px;
  width: 130px;
  height: 50px;
}

/* footer */

.footer-container {
  color: gray;
  font-size: 12px;
  margin: 42px;
}
