.App {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(27, 27, 68);
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

html {
  background-color: rgb(27, 27, 68);
}

body {
  background-color: rgb(27, 27, 68);
  margin: 0;
}

.page-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-time {
  font-size: 24px;
  margin: 0px;
  margin-top: 10px;
  color: #7fb7be;
}

.react-countdown-clock {
  margin-right: 200px;
  margin-top: 42px;
}

.selection {
  color: #ff9f1c;
  margin: 6px;
  font-size: 24px;
}

.be-back {
  color: #2ec4b6;
  border-radius: 15px;
  font-weight: 600;
  font-size: 24px;
  margin: 10px;
}

.break-over {
  color: red;
  font-weight: 600;
  font-size: 24px;
  margin: 10px;
}

.button-container {
  display: flex;
}

button {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

button:hover {
  filter: brightness(50%);
}

button:active {
  filter: brightness(50%);
}

.button-container > button {
  outline: none;
  background-color: #ff9f1c;
  border: none;
  border-radius: 30px;
  margin: 10px;
  color: white;
  font-size: 1.2em;
  padding: 5px 15px;
  height: 50px;
  width: 130px;
}

select {
  background-color: dodgerblue;
  border: none;
  font-size: 2em;
  color: white;
  text-decoration: none;
}

.control-panel {
  display: flex;
  justify-content: center;
  margin-top: 42px;
}

.controls {
  display: flex;
  flex-direction: column;
}

.pause {
  outline: none;
  background-color: gray;
  border: none;
  border-radius: 30px;
  margin: 10px;
  color: white;
  font-size: 1.2em;
  padding: 5px 15px;
  height: 120px;
  width: 50px;
}

.resume {
  outline: none;
  background-color: #7fb7be;
  border: none;
  border-radius: 30px;
  margin: 10px;
  color: white;
  font-size: 1.2em;
  padding: 5px 15px;
  height: 50px;
}

.reset {
  outline: none;
  background-color: #bc2c1a;
  border: none;
  border-radius: 30px;
  margin: 10px;
  color: white;
  font-size: 1.2em;
  padding: 5px 15px;
  width: 130px;
  height: 50px;
}

/* footer */

.footer-container {
  color: gray;
  font-size: 12px;
  margin: 42px;
}
